@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><h5 class="nav-link">Редактирование профиля</h5></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профиль</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Почта</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Пароль</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Персональные данные</a></li>
    

    @if (User.IsInRole("supervisor") || User.IsInRole("admin"))
    {
        <li class="nav-item mt-3"><h5 class="nav-link">Функционал руководителя</h5></li>
    }

    @if (User.IsInRole("Культурно-досуговая деятельность") || User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.CreativityApplicationFormsNavClass(ViewContext)" id="account-manager" asp-page="./CreativityApplicationForms">Заявки на участие в мероприятиях</a></li>
    }
    @if (User.IsInRole("Спортивные мероприятия") || User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.SportApplicationFormsNavClass(ViewContext)" id="account-manager" asp-page="./SportApplicationForms">Заявки на вступление в секции</a></li>
    }
    @if (User.IsInRole("Волонтерская деятельность") || User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.LaborApplicationFormsNavClass(ViewContext)" id="account-manager" asp-page="./LaborApplicationForms">Заявки на волонтерство</a></li>
    }

    @if (User.IsInRole("Психолог") || User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.PsychologistsScheduleNavClass(ViewContext)" id="account-manager" asp-page="./PsychologistsSchedule">Записи на посещение</a></li>
    }
    @if (User.IsInRole("Модератор отзывов") || User.IsInRole("admin"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.ModReviewsNavClass(ViewContext)" id="account-manager" asp-page="./ModReviews">Отзывы ожидающие проверки</a></li>
    }


    @if (User.IsInRole("admin"))
    {
        <li class="nav-item mt-3"><h5 class="nav-link">Функционал администратора</h5></li>
        <li class="nav-item"><a class="nav-link @ManageNavPages.AccountManagerNavClass(ViewContext)" id="account-manager" asp-page="./AccountManager">Управление аккаунтами</a></li>
    }
</ul>
