@page
@model CreativityApplicationFormsModel

@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Заявки на участие в мероприятиях";
    ViewData["ActivePage"] = ManageNavPages.CreativityApplicationForms;
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="text-center mb-4">
    <a asp-area="" asp-controller="CreativityType" asp-action="Index" class="btn btn-outline-info my-2">Редактировать список активностей</a>
</div>

<div class="mb-5 row">
    <div class="col-md-6">
        <strong class="text-center">Организация</strong>
        @foreach(var item in @Model.applicationForms)
        {
            @if(item.SubdivisionActivityTypeId == 1)
            {
                @foreach(var keyValue in @item.ApplicationParameters)
                {
                    <div class="box-shadow mb-3">
                        <div class="mx-3">
                            <div class="my-2"></div>
                            <div class="">Учащийся:</div>
                            <div class="form-control">@item.ApplicationUser.FullName</div>
                            <br>
                            <div class="">@keyValue.Key</div>
                            <div class="form-control">@keyValue.Value</div>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="mt-2 text-center">
                                <input asp-for="Input.FormId" value="@item.Id"/>
                                <button class="btn text-danger" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                    break;
                }
            }
        }
    </div>

    <div class="col-md-6">
        <strong class="text-center">Участие</strong>
        @foreach(var item in @Model.applicationForms)
        {
            @if(item.SubdivisionActivityTypeId == 2)
            {
                @foreach(var keyValue in @item.ApplicationParameters)
                {
                    <div class="box-shadow mb-3">
                        <div class="mx-3">
                            <div class="my-2"></div>
                            <div class="">Учащийся:</div>
                            <div class="form-control">@item.ApplicationUser.FullName</div>
                            <br>
                            <div class="">@keyValue.Key</div>
                            <div class="form-control">@keyValue.Value</div>
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <input asp-for="Input.FormId" value="@item.Id"/>
                                <a onclick="SubmitEvent">Удалить</a>
                            </form>
                            <br>
                        </div>
                    </div>
                    break;
                }
            }
        }
    </div>
</div>


<div class="text-center">
    <a class="btn btn-outline-danger" href="javascript:history.back()">Вернуться</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

