@page
@model SportApplicationFormsModel

@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Заявки на вступление в секции";
    ViewData["ActivePage"] = ManageNavPages.SportApplicationForms;
}

<h4>@ViewData["Title"]</h4>
<hr />


<div class="col-md-8">
    @foreach(var item in @Model.applicationForms)
    {
        @foreach(var keyValue in item.ApplicationParameters)
        {
            <div class="box-shadow mb-3">
                <div class="mx-3">
                    <br>
                    <div class="">Учащийся:</div>
                    <div class="form-control">@item.ApplicationUser.FullName</div>
                    <br>
                    <div class="">@keyValue.Key</div>
                    <div class="form-control">@keyValue.Value</div>
                    <br>
                </div>
            </div>
            break;
        }
    }
</div>

<div class="col-md-6 mx-auto">
    <a class="btn btn-outline-danger" href="javascript:history.back()">Вернуться</a>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

