@model GomelStateUniversity_Activity.Models.Event

@{
    ViewData["Title"] = "Подробности мероприятия";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string posterPath = @Model.PosterPath;
    if (string.IsNullOrWhiteSpace(posterPath)) posterPath = "/Img/Empty.jpg";
}

<h4 class="text-center">@ViewData["Title"]</h4>
<hr />

@if (ViewData["Message"] != null)
{
    <h3>@ViewData["Message"]</h3>
}

<div class="row box-shadow mb-3">
    
    <div class="col-sm-2 mx-auto">
        <img class="img-thumbnail" height="200" width="200" src="@posterPath" />
    </div>

    <dl class="row col-sm-6 mx-auto">
        <dt class="col-sm-4">
            Название
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            Дата
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-4">
            Количество мест(билетов)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TicketsCount)
        </dd>
        <dt class="col-sm-4">
            Цена билета
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class="col-sm-4">
            Подразделение
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Subdivision.Name)
            (@Html.DisplayFor(model => model.Subdivision.Contacts))
        </dd>
        <dt class="col-sm-4">
            Описание
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <div class="form-group text-center col-sm-3 mt-4 mx-auto">
        @{
            var evUser = Model.EventUsers.Where(x => x.EventId == Model.Id)
                                          .Where(u => u.ApplicationUser.UserName == User.Identity.Name);
        }
        @if(evUser.Count() == 0)
        {
            <a asp-action="Subscribe" asp-route-id="@Model.Id" class="text-info">Записаться</a><br>

            <div id="GroupSubUnfoldable" style="display: none;">
                <form asp-action="SubscribeGroup" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <br><input type="number" min="1" name="ticketsAmount" placeholder="Количество" class="text-center col-md-7" /><br>
                    <button onclick="SubmitEvent" class="text-info">Записать группу</button><br>
                </form>
            </div>
            <a id="UnfoldBtn" style="" class="text-info" onclick="Unfold()">Записать группу</a><br>
        }
        else
        {
            <a asp-action="UnSubscribe" asp-route-id="@Model.Id" class="text-info">Отписаться</a><br>
            <a asp-action="UnSubscribe" asp-route-id="@Model.Id" class="text-info">Отписать группу</a>
        }
        


        <a class="btn btn-outline-primary text-center mt-4 mx-5" asp-route-eventId="@Model.Id"
           asp-area="Functionality" asp-page="/Review/CreateReview">Написать отзыв</a>
    </div>
    <br>
</div>

<div>
    <a class="btn btn-outline-danger" href="javascript:history.back()">Вернуться</a>
</div>


<script type="text/javascript">
    
    function Unfold() {
        document.getElementById('GroupSubUnfoldable').setAttribute('style', '');
        document.getElementById('UnfoldBtn').setAttribute('style', 'display: none;');
    }
</script>