@model IEnumerable<GomelStateUniversity_Activity.Models.Event>

@{
    ViewData["Title"] = @ViewBag.PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">@ViewBag.PageName</h4>
<hr />

@if(ViewData["Message"] != null)
{
    <p class="text-center text-info">@ViewData["Message"]</p>
}

<div class="form-inline mb-3">
    @if (@ViewBag.Irrelevant)
    {
        <a href="javascript:history.back()" class="btn btn-outline-info ml-3 mr-3">Вернуться</a>
    }
    @if (@ViewBag.SubdivId != null)
    {
        @if (!@ViewBag.Irrelevant)
        {
            <a asp-action="EventsListForSubdiv" asp-route-subdivId="@ViewBag.SubdivId" asp-route-Irrelevant=true class="btn btn-outline-info ml-3 mr-3">Ранее</a>
        }

        <a asp-controller="Calendar" asp-action="CalendarForSubdiv" asp-route-subdivId="@ViewBag.SubdivId" class="btn btn-outline-info ml-3 mr-auto">Показать календарь</a>
    }
    @if (@ViewBag.SubdivId == null)
    {
        @if (!@ViewBag.Irrelevant)
        {
            <a asp-action="Index" asp-route-Irrelevant=true class="btn btn-outline-info ml-3 mr-3">Ранее</a>
        }

    }
    @if (@ViewBag.SubdivId == 1)
    {

        <a asp-controller="ApplicationForm" asp-action="Create" asp-route-subdivId=@ViewBag.SubdivId asp-route-activityId=1 class="btn btn-outline-info ml-3 mb-3">Стать организатором</a>
        <a asp-controller="ApplicationForm" asp-action="Create" asp-route-subdivId=@ViewBag.SubdivId asp-route-activityId=2 class="btn btn-outline-info ml-3 mb-3">Стать артистом</a>

    }
    @if (@ViewBag.SubdivId == 2)
    {

        <a asp-controller="ApplicationForm" asp-action="Create" asp-route-subdivId=@ViewBag.SubdivId asp-route-activityId=3 class="btn btn-outline-info ml-3 mb-3">Записаться в секцию</a>

    }
    @if (@ViewBag.SubdivId == 4)
    {
        <a asp-controller="ApplicationForm" asp-action="Create" asp-route-subdivId=@ViewBag.SubdivId asp-route-activityId=4 class="btn btn-outline-info ml-3 mb-3">Заявка на вступление в организацию</a>
        <a asp-controller="ApplicationForm" asp-action="Create" asp-route-subdivId=@ViewBag.SubdivId asp-route-activityId=5 class="btn btn-outline-info ml-3 mb-3">Заявка на работу в студенческом отряде</a>

    }

    @if (!User.IsInRole("student"))
    {
        <a asp-action="Create" class="btn btn-outline-info ml-auto mr-3">Создать мероприятие</a>
    }

    <div id='calendar'></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="ml-5">Постер/Афиша</div>
            </th>
            <th>
                <div class="text-center">Название</div>
            </th>
            <th>
                <div class="text-center">Дата</div>
            </th>
            <th>
                <div class="text-center">Количество мест(билетов)</div>
            </th>
            <th>
                <div class="text-center"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        string posterPath = @item.PosterPath;
        if (string.IsNullOrWhiteSpace(posterPath)) posterPath = "/Img/Empty.jpg";

        <tr class="box-shadow">
            <td>
                <img class="img-thumbnail" height="200" width="200" src="@posterPath" />
            </td>
            <td>
                <div class="text-center">@item.Name</div>
            </td>
            <td>
                <div class="text-center">@item.DateTime</div>
            </td>
            <td>
                <div class="text-center">@item.TicketsCount</div>
            </td>
            @foreach (var eventsUsers in item.EventUsers.Where(x => x.EventId == item.Id))
            {
                @if (eventsUsers.ApplicationUser.UserName == User.Identity.Name)
                {
                    <td>
                        <div class="text-center">Вы записаны✅</div>
                    </td>
                }
            }

            <td class="text-center">
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info">Подробнее</a><br>
                @if (!User.IsInRole("student"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-info">Редактировать</a><br>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-info">Удалить</a><br>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

