@model IEnumerable<GomelStateUniversity_Activity.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Мероприятия</h1>

@if (ViewData["Message"] != null)
{
    <h3>@ViewData["Message"]</h3>
}

<p>
    <a asp-action="Create">Create New</a>
    <a asp-controller="Calendar" asp-action="SportCalendar">Показать календарь</a>
    <div id='calendar'></div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice)
                </td>
                <td>
                    <a asp-action="Subscribe" asp-route-id="@item.Id">Записаться</a> |
                    <a asp-action="UnSubscribe" asp-route-id="@item.Id">Отписаться</a> |
                    @*<p>
                            <label>Количество:</label><br />
                            <input type="number" name="amount" />
                        </p>*@
                    <a asp-action="SubscribeGroup" asp-route-id="@item.Id" asp-route-amount="5">Записать группу</a> |
                    <a asp-action="UnSubscribe" asp-route-id="@item.Id">Отписать группу</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
