@model IEnumerable<GomelStateUniversity_Activity.Models.Event>

@{
    ViewData["Title"] = "Sport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Мероприятия</h1>

@if (ViewData["Message"] != null)
{
    <h3>@ViewData["Message"]</h3>
}

<p>
    <a asp-action="Create">Создать мероприятие</a>
    <a asp-controller="Calendar">Показать календарь</a>
    <div id='calendar'></div>
</p>
<a asp-action="IrrelevantEventsBySubdivision" asp-route-subdivisionId="2">Ранее</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата
            </th>
            <th>
                Количество мест(билетов)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.DateTime > DateTime.Now))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketsCount)
                </td>
                <td>
                    <a asp-action="Subscribe" asp-route-id="@item.Id">Записаться</a> |
                    <a asp-action="UnSubscribe" asp-route-id="@item.Id">Отписаться</a> |
                    @*<p>
                        <label>Количество:</label><br />
                        <input type="number" name="amount" />
                    </p>*@
                    <a asp-action="SubscribeGroup" asp-route-id="@item.Id" asp-route-amount="5">Записать группу</a> |
                    <a asp-action="UnSubscribe" asp-route-id="@item.Id">Отписать группу</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
